<div class="text-center bg-image pb-3">
<!--     TODO: decide on background url-->
<!--    style="background-image: url(BG_URL_HERE); height: 250px;">-->
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex flex-column justify-content-center align-items-center h-100">
            <div class="text-light">
                <h1 class="display-4 fw-lightest">The Gallery</h1>
                <p class="lead fst-italic">a small blurb about the gallery here</p>
            </div>
        </div>
    </div>
</div>

<section class="p-4">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <app-gallery-page-image
                    imageUrl="https://storage.googleapis.com/equinox-cels.com/Eva/EOE_00_16.jpeg"
                    title="Evangelion"
                    subtitle="エヴァンゲリオン"
                    galleryPageLink="evangelion"
            ></app-gallery-page-image>
        </div>
        <div class="col">
            <app-gallery-page-image
                    imageUrl="https://storage.googleapis.com/equinox-cels.com/Other/mobile_suit_victory_gundam_01.png"
                    title="Gundam Series"
                    subtitle="ガンダムシリーズ"
                    galleryPageLink="gundam"
            ></app-gallery-page-image>
        </div>
        <div class="col">
            <app-gallery-page-image
                    imageUrl="https://storage.googleapis.com/equinox-cels.com/Other/GHOST_STORIES_S23_00.jpeg"
                    title="Ghost Stories"
                    subtitle="学校の怪談"
                    galleryPageLink="ghoststories"
            ></app-gallery-page-image>
        </div>
        <div class="col">
            <app-gallery-page-image
                    imageUrl='https://storage.googleapis.com/equinox-cels.com/Other/KLK_ep10_front.jpg'
                    title="Jojo's Bizzare Adventure"
                    subtitle="ジョジョの奇妙な冒険"
                    galleryPageLink="jojos"
            ></app-gallery-page-image>
        </div>
        <div class="col">
            <app-gallery-page-image
                    imageUrl='https://storage.googleapis.com/equinox-cels.com/Other/fma00_01.jpg'
                    title="Full Metal Alchemist"
                    subtitle="鋼の錬金術師"
                    galleryPageLink="fma"
            ></app-gallery-page-image>
        </div>
        <div class="col">
            <app-gallery-page-image
                    imageUrl='https://storage.googleapis.com/equinox-cels.com/Other/poopycat.jpg'
                    title="Other"
                    galleryPageLink="other"
            ></app-gallery-page-image>
        </div>
    </div>
</section>
