<div class="text-center bg-image mb-3"
     style="background-image: url('https://storage.googleapis.com/equinox-cels.com/evagalleryheader_convert.webp');
     height: 250px;">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex flex-column justify-content-center align-items-center h-100">
            <div class="text-light">
                <h1 class="display-4 fw-lightest">Evangelion</h1>
                <small class="lead fst-italic">
                    Hideaki Anno's "Neon Genesis Evangelion" and the 1997 film "The End of Evangelion" animated by Studio Gainax
                </small>
            </div>
        </div>
    </div>
</div>

<app-eva-video-card
        [fileUrls]="fileUrls[0]"
        title="End of Evangelion"
        subtitle="&quot;Don't abandon me...!&quot;"
        cut="Cut-282"
        celInfo="Cels A1 - A16 and B1"
        body=
            "
                In the throes of the Human Instrumentality Project, Shinji pleads for Asuka to save him - to not abandon him.
                She rejects this, shouting that Shinji doesn't want Asuka's help, but literally the help of anyone who will listen.
                Shinji's desperation peaks as he overturns furniture in a tantrum, begging Asuka to save him and not kill him.
                As seen here, Asuka coldly looks down at the disheveled boy, uttering only a single word:
                <div class=&quot;text-center my-2 fw-lighter&quot;><i>&quot;No.&quot;</i></div>
            "
></app-eva-video-card>

<app-eva-video-card
        [fileUrls]="fileUrls[4]"
        title="End of Evangelion"
        subtitle='"負けてらんないのよ！"'
        cut="Cut-386"
        celInfo="Cels C17 and D6"
        body=
            "
                <i>&quot;There's no way I could lose to you guys!&quot;</i><br>
                The JSSDF lead a lead-no-survivors assault on NERV HQ on behest of Seele UN orders.
                Asuka gets a jolt of confidence as she takes on the incoming attacker's air force with ease.
            "
></app-eva-video-card>

<app-eva-video-card
        [fileUrls]="fileUrls[1]"
        title="End of Evangelion"
        subtitle='"ママが見てるのに！"'
        cut="Cut-516"
        celInfo="Cels B1 & B2 w/ Matching Douga"
        body=
            "
                <i>&quot;Mama is watching me!&quot;</i><br>
                Asuka pilots the recently awakened Evangelion Unit-02.
                She easily destroys JSSDF tanks, VTOLs, and the frigate in the lake, but has its umbilical cable severed during the fight.
                In the subsequent battle against the Mass Production Evangelions, Asuka severely damages all nine of them in a
                little over three minutes; seen here are the last two Mass Production Eva Units she battles.
            "
></app-eva-video-card>

<app-eva-basic-card
        mainImageUrl = "https://storage.googleapis.com/equinox-cels.com/Eva/ASUKAouchCEL.png"
        overlayImageUrl = "https://storage.googleapis.com/equinox-cels.com/Eva/asukaOUCHmaster.png"
        title = "End of Evangelion"
        subtitle = '"殺してやる。。。ｺﾛｼﾃﾔﾙ..."'
        cut = 'Unknown Cut'
        celInfo = 'Cel A-10'
        body=
            "
                <i>&quot;I'll kill you...&quot;</i><br>
                The automated Evangelions, though mangled by Asuka's attacks, all come back to life.
                Like a volt of vultures, they descend upon the lifeless Unit-02, tearing it apart and exposing its innards.
                While the Mass Production Evangelions fly away, a wounded Asuka (seen here) coaxes Unit-02 into reactivating in berserk mode.
            "
></app-eva-basic-card>

<app-eva-video-card
        [fileUrls]="fileUrls[3]"
        title="Neon Genesis Evangelion"
        subtitle="Ep. 13: &quot;An Angel's Invasion&quot;"
        cut="Cels B5 and D8 w/ Matching Sketches"
        celInfo="Original Copy of Matching Background"
        body=
            "
                In a latch ditch effort to fight the 11th angel, Iruel, Ritsuko opens an entrance into the surviving Magi, Casper, and begins work.
                Ireul finally breaks through the firewall and completes infecting Balthasar, and with one second remaining before Casper is defeated, Ritsuko's counter-hacking program is installed.
                The Magi are promptly restored to their normal status, and Ireul dies out.
                Seen here, Ritsuko talks to Misato about the Magi and her Mother's personality.
            "
></app-eva-video-card>

<app-eva-basic-card
        mainImageUrl = "https://storage.googleapis.com/equinox-cels.com/Eva/asukaep14cel.jpg"
        overlayImageUrl = "https://storage.googleapis.com/equinox-cels.com/Eva/asukaep14master.jpg"
        title = "Neon Genesis Evangelion"
        subtitle = 'Ep. 14: "SEELE, the Throne of Souls"'
        cut = 'Cel C-29'
        celInfo = 'Original Copy of Matching Background'
        body=
            "
                During cross-compatibility tests of the Evangelions and their pilots, Asuka sits in Unit-02 as Shinji is about to attempt activating Unit-00.
                Asuka taunts Shinji for the comments he makes about the entry plug smelling of Rei before being scolded by Misato for interfering with the tests.
            "
></app-eva-basic-card>

<!-- card for random dougas and such -->
<div class="card mx-5 mb-3">
    <div class="row g-0">
        <div class="col-lg-8">
            <img class="img-fluid" [src]="'https://storage.googleapis.com/equinox-cels.com/Eva/' + this.fileUrls[this.fileUrls.length - 1][0]" />
        </div>
        <div class="col-lg-4 text-center d-flex">
            <div class="card-body d-flex justify-content-between" style="flex-direction: column">
                <div>
                    <h3 class="card-title">Neon Genesis Evangelion Genga</h3>
                    <small class="text-muted">assorted episodes and scenes</small>
                    <hr/>
                    <p class="card-text">
                        Here are various genga of Katsuragi Misato, a few of which are from one of her many (in)famous beer drinking scenes.
                    </p>
                </div>
                <div>
                    <hr/>
                    <button class="btn" mdbRipple rippleColor="dark" (click)="openDougaModal()">View Images</button>
                </div>
            </div>
        </div>
    </div>
</div>
