<div class="text-center bg-image pb-3"
     style="background-image: url('https://storage.googleapis.com/equinox-cels.com/evagalleryheader_convert.webp');
     height: 250px;">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex flex-column justify-content-center align-items-center h-100">
            <div class="text-light">
                <h1 class="display-4 fw-lightest">Evangelion</h1>
                <p class="lead fst-italic">Production artwork from Hideaki Anno's "Neon Genesis Evangelion" and the 1997 film "The End of Evangelion"</p>
            </div>
        </div>
    </div>
</div>

<app-eva-video-card
        [fileUrls]="fileUrls[0]"
        title="End of Evangelion"
        subtitle="&quot;Don't abandon me...!&quot;"
        cut="Cut-282"
        celInfo="Cels A1 - A16 and B1"
        body=
            "
                In the throes of the Human Instrumentality Project, Shinji pleads for Asuka to save him - to not abandon him.
                She rejects this, shouting that Shinji doesn't want Asuka's help, but literally the help of anyone who will listen.
                Shinji's desperation peaks as he overturns furniture in a tantrum, begging Asuka to save him and not kill him.
                As seen here, Asuka coldly looks down at the disheveled boy, uttering only a single word:
                <div class=&quot;text-center mt-2 mb-2 fw-lighter&quot;><i>&quot;No.&quot;</i></div>
            "
></app-eva-video-card>

<app-eva-video-card
        [fileUrls]="fileUrls[4]"
        title="End of Evangelion"
        subtitle='"負けてらんないのよ！"'
        cut="Cut-386"
        celInfo="Cels C17 and D6"
        body=
            "
                <i>&quot;There's no way I could lose to you guys!&quot;</i><br>
                The JSSDF lead a lead-no-survivors assault on NERV HQ on behest of Seele UN orders.
                Asuka gets a jolt of confidence as she takes on the incoming attacker's air force.
            "
></app-eva-video-card>

<app-eva-video-card
        [fileUrls]="fileUrls[1]"
        title="End of Evangelion"
        subtitle='"ママが見てるのに！"'
        cut="Cut-516"
        celInfo="Cels B1 & B2 w/ Matching Douga"
        body=
            "
                <i>&quot;Mama is watching me!&quot;</i><br>
                Asuka pilots the recently awakened Evangelion Unit-02.
                She easily destroys JSSDF tanks, VTOLs, and the frigate in the lake, but has its umbilical cable severed during the
                fight and is forced to switch to battery power.
                In the subsequent battle against the Mass Production Evangelions, Asuka severely damages all nine of them in a
                little over three minutes; seen here are the last two Mass Production Eva Units she battles.
            "
></app-eva-video-card>

<app-eva-basic-card
        mainImageUrl = "https://storage.googleapis.com/equinox-cels.com/Eva/ASUKAouchCEL.png"
        overlayImageUrl = "https://storage.googleapis.com/equinox-cels.com/Eva/asukaOUCHmaster.png"
        title = "End of Evangelion"
        subtitle = '"殺してやる。。。ｺﾛｼﾃﾔﾙ..."'
        cut = 'Unknown Cut'
        celInfo = 'Cel A-10'
        body=
            "
                <i>&quot;I'll kill you...&quot;</i><br>
                The automated Evangelions, though mangled by Asuka's attacks, all come back to life.
                Like a volt of vultures, they descend upon the lifeless Unit-02, tearing it apart and exposing its innards.
                While the Mass Production Evangelions fly away, a wounded Asuka (seen here) coaxes Unit-02 into reactivating in berserk mode.
                As the automated Evangelions orbit above, Asuka and her Evangelion furiously reach towards them,
                only to have each of their arms sliced in two by a replica Lance of Longinus.
            "
></app-eva-basic-card>

<app-eva-video-card
        [fileUrls]="fileUrls[3]"
        title="Neon Genesis Evangelion"
        subtitle="Ep. 13: &quot;An Angel's Invasion&quot;"
        cut="Cels B5 and D8 w/ Matching Sketches"
        celInfo="Original Copy of Matching Background"
        body=
            "
                Ritsuko explains the nature of the 11th angel, Ireul.
                She opens an entrance into the physical structure of the surviving Magi Casper, and begins work with notes left by her mother.
                Ireul finally breaks through the firewall and completes infecting Balthasar, and with one second to go before Casper is
                defeated, Ritsuko's counter-hacking program is installed.
                The Magi are promptly restored to their normal status, and Ireul dies out.
                Seen here, Ritsuko talks to Misato about the Magi and her Mother's personality.
            "
></app-eva-video-card>
