<div class="text-center bg-image pb-3"
     style="background-image: url('');
     height: 250px;">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex flex-column justify-content-center align-items-center h-100">
            <div class="text-light">
                <h1 class="display-4 fw-lightest">Other</h1>
                <small class="lead fst-italic">
                    Other pieces of production media from various shows in my collection
                </small>
            </div>
        </div>
    </div>
</div>

<section class="p-4">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div *ngFor="let image of albums; let i=index">
            <div class="col h-100">
                <ng-template [ngIf]="image.overlay" [ngIfElse]="elseBlock">
                    <div class="w-100 h-100 overlay-parent" (click)="open(i)">
                        <img class="w-100 h-100"            [src]="image.src"/>
                        <img class="w-100 h-100 overlay"    [src]="image.overlay"/>
                    </div>
                </ng-template>
                <ng-template #elseBlock>
                    <img class="w-100 h-100" style="object-fit: cover; cursor: pointer;" [src]="image.src" (click)="open(i)"/>
                </ng-template>
            </div>
        </div>
    </div>
</section>
