<div class="text-center bg-image pb-3"
     style="background-image: url('https://storage.googleapis.com/equinox-cels.com/jojo/jojoheader_convert.webp');
     height: 250px;">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex flex-column justify-content-center align-items-center h-100">
            <div class="text-light">
                <h1 class="display-4 fw-lightest">Jojo's Bizzare Adventure</h1>
                <small class="lead fst-italic">
                    These are from the two OVA series that adapt Stardust Crusaders, both by Studio A.P.P.P.
                </small>
            </div>
        </div>
    </div>
</div>

<section class="p-4">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div *ngFor="let image of albums; let i=index">
            <div class="col h-100">
                <ng-template [ngIf]="image.overlay" [ngIfElse]="elseBlock">
                    <div class="w-100 h-100 overlay-parent" (click)="open(i)">
                        <img class="w-100 h-100"            [lazyLoad]="image.src"/>
                        <img class="w-100 h-100 overlay"    [lazyLoad]="image.overlay"/>
                    </div>
                </ng-template>
                <ng-template #elseBlock>
                    <img class="w-100 h-100" style="object-fit: cover; cursor: pointer;" [lazyLoad]="image.src" (click)="open(i)"/>
                </ng-template>
            </div>
        </div>
    </div>
</section>
